.content {
  background-color: rgb(255, 255, 255);
  /* padding: 2vw; */
  width: 50vw;
  min-height: calc(100vh);
  padding-top: 10vh;
}
.filterContainer {
  width: 20vw;
  /* background-color: aqua; */
  padding-top: 11vh;
  margin-left: 14vw;
  padding-right: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.filterContainer a {
  color: black;
  text-decoration: none;
}
.filter {
  display: flex;
  padding: 0.5vw;
  padding-left: 1.1vw;
  /* background-color: azure; */
  /* margin: 0.001vw; */
  /* border-radius: 0.5vw; */
}
.filter:hover {
  background-color: white;
}
.App {
  display: flex;
}
.project,
.filters,
.label {
  border-bottom: 0.1vw solid rgb(212, 203, 203);
  display: flex;
  justify-content: space-between;
}
.add {
  background: none;
  border: none;
  font-size: 2.5vw;
  color: rgb(172, 163, 163);
}
.icon {
  font-size: 16px;
  color: rgb(74, 74, 223);
  margin-right: 0.7vw;
  /* padding-top: 1vw; */
}
.cIcon {
  color: rgb(100, 190, 100);
}
.heroSection {
  display: flex;
}
.ant-collapse {
  border: none;
  font-size: 15px;
}
.ant-collapse-item {
  background-color: #e9e8e8;
  border: none;
}
.ant-collapse-header {
  border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  /* outline: none; */
}
.collapse {
  display: flex;
}
.addProjectButton {
  background: none;
  border: none;
  font-size: 3vw;
}
.panelDiv {
  display: flex;
  justify-content: space-between;
}
.addButton {
  background: none;
  border: none;
  font-size: 2.5vw;
  outline: none;
  color: #a19999;
}
.addButton:hover {
  color: black;
}
.ant-collapse-content-box {
  background-color: #e9e8e8;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
.addProjectDiv {
  margin-top: 1vw;
  background-color: #e9e8e8;
  display: flex;
  align-items: center;
  padding-bottom: 2vw;
}
.addProjectDiv:hover .addSymbol {
  color: #fff;
  background-color: #db4c3f;
}
.addProjectDiv:hover .addProjectDivPara {
  color: #db4c3f;
}
.addSymbol {
  color: #db4c3f;
  font-size: 17px;
  margin-right: 1vw;
  border-radius: 100%;
}
.addProjectDivPara {
  border: none;
  outline: none;
  background: none;
}
