.oneProject {
  background: none;
  border: none;
  margin: 1vw;
  outline: none;
}
.projectDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectDiv:hover {
  background-color: white;
}
.projectEditButton {
  color: #e7dede;
  background: none;
  border: none;
  font-size: 2.5vw;
  margin-right: 1vw;
}
.projectOption {
  display: flex;
  align-items: center;
}
.projectOption i {
  margin-right: 1vw;
}
.projectOption p {
  margin-bottom: 0;
}
.menu-para {
  margin-bottom: 0;
}
.section-menu {
  display: flex;
  align-items: center;
}
.section-menu p {
  margin-bottom: 0;
}
.section-menu2 {
  display: flex;
  justify-content: flex-end;
}
