.header {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  height: 3.5vw;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: #db4c3f;
  border-bottom: solid 0.1vw #ca2100;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.header nav {
  display: flex;
  width: 70vw;
  height: 3.5vw;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 2.2vw;
  height: 2.2vw;
}
.logo svg {
  color: white;
}
.header-icons {
  color: white;
}
.search-icon {
  margin-top: 0.5vw;
  font-size: 1.6vw;
}
.icons ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.icons li {
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6vw;
  margin: 0 2vw;
}
.icons li:hover {
  width: 2.5vw;
  background-color: #e7887f;
  border-radius: 5px;
}

.search-bar {
  width: 23vw;
  margin-left: 12vw;
  padding-left: 0.5vw;
  display: flex;
  z-index: 2;
  color: white;
}
.input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1vw;
  border: none;
  width: 100%;
  margin-left: 0.5vw;
  margin-right: 3vw;
  padding: 0.3vw;
  padding-left: 0.2vw;
  background-color: #db4c3f;
  border-radius: 5px;
  z-index: 2;
}
.input::placeholder {
  color: white;
}
.search-bar:hover,
.input:hover {
  background-color: #e7887f;
  border-radius: 5px;
}
.input:focus {
  background-color: white;
  color: black;
  width: 100%;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

/* #btn1 {
  height: 100%;
  border-radius: 6px;
  width: 2%;
  background-color: #e7887f;
  border: none;
  margin-right: 3%;
  position: absolute;
  margin-left: 68%;
}

#btn2 {
  height: 100%;
  border-radius: 6px;
  width: 2%;
  background-color: #e7887f;
  border: none;
  margin-right: 3%;
  position: absolute;
  margin-left: 73%;
}

#btn3 {
  height: 100%;
  border-radius: 6px;
  width: 2%;
  background-color: #e7887f;
  border: none;
  margin-right: 3%;
  position: absolute;
  margin-left: 78%;
}

.btn {
  height: 80%;
  border-radius: 6px;
  width: 2%;
  background-color: #e7887f;
  border: none;
  margin-right: 1%;
  margin-left: 15%;
}

.search-bar {
  width: 90%;
  z-index: 2;
}

.icons {
  display: inline;
  float: right;
  position: absolute;
  height: 80%;
  width: 100%;
} */
