.cancel-button-task {
  margin-right: 220px;
  border: none;
  background-color: white;
  color: rgb(105, 103, 103);
  height: 5vh;
  outline: none;
}
.cancel-button-task:hover {
  text-decoration: underline;
}
